html,
body {
	font-weight: $font-weight-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	font-family: $font-family-base;
	color: $color-black;
	background: $color-gray-lighter;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-top: $typography-margin-top;
	margin-bottom: $typography-margin-bottom;
	font-weight: $headings-font-weight;
	font-family: $headings-font-family;
	color: $color-black;
}

h1,
.h1 {
	font-size: $font-size-h1;
	line-height: $line-height-h1;

	@include media-breakpoint-down(md) {
		font-size: $font-size-h1-md;
		line-height: $line-height-h1-md;
	}
}

h2,
.h2 {
	font-size: $font-size-h2;
	line-height: $line-height-h2;

	@include media-breakpoint-down(md) {
		font-size: $font-size-h2-md;
		line-height: $line-height-h2-md;
	}
}

h3,
.h3 {
	font-size: $font-size-h3;
	line-height: $line-height-h3;

	@include media-breakpoint-down(md) {
		font-size: $font-size-h3-md;
		line-height: $line-height-h3-md;
	}
}

h4,
.h4 {
	font-size: $font-size-h4;
	line-height: $line-height-h4;

	@include media-breakpoint-down(md) {
		font-size: $font-size-h4-md;
		line-height: $line-height-h4-md;
	}
}

h5,
.h5 {
	font-size: $font-size-h5;
	line-height: $line-height-h5;

	@include media-breakpoint-down(md) {
		font-size: $font-size-h5-md;
		line-height: $line-height-h5-md;
	}
}

h6,
.h6 {
	font-size: $font-size-h6;
	line-height: $line-height-h6;

	@include media-breakpoint-down(md) {
		font-size: $font-size-h6-md;
		line-height: $line-height-h6-md;
	}
}

p {
	margin-top: $typography-margin-top;
	margin-bottom: $typography-margin-bottom;
}

b,
strong {
	font-weight: $font-weight-bold;
}
