mixin modal-no-metamask({ title, description, button, href })
	.modal.modal-no-metamask.js-modal-no-metamask(id='modal-no-metamask' aria-hidden='true' style='display: none;')
		.modal__shield(data-micromodal-close)
			.modal__dialog.js-modal-dialog(role='dialog' aria-modal='true' aria-labelledby='modal-no-metamask-title')
				header.modal__header
					h2.h3.modal__title(id='modal-no-metamask-title')=title
				.modal__content(id='modal-no-metamask-content')
					.modal__body
						p.modal-no-metamask__description=description
					.modal__footer
						+button({
							className: 'modal__footer-button js-modal-no-metamask-download',
							text: button,
							href: href,
							target: '_blank',
							rel: 'noreferrer noopener'
						})
