.wallet-info {
	&__title {
		margin: 0 0 40px;
	}

	&__total {
		&:not(:last-child) {
			padding: 0 0 40px;
			margin: 0 0 40px;
			border-bottom: 1px solid $color-gray-medium;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		align-items: center;

		&:last-child {
			padding: 0 0 0 32px;
			justify-content: flex-end;
		}
	}

	&__item-title {
		margin: 0 16px 0 0;
	}

	&__value {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 32px;
		padding: 0 16px;
		font-weight: $font-weight-bold;
		border-radius: 16px;
		background: $color-gray-light;
		color: $color-black;

		&_gradient {
			margin: 0 0 0 16px;
			background: linear-gradient(left, rgba(227,255,213,1) 0%, rgba(255,238,201,1) 100%);

			span {
				background: -webkit-linear-gradient(left, rgba(49,194,8,1) 0%, rgba(231,169,44,1) 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		} 
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;

		&:not(:last-child) {
			margin: 0 0 80px;
		}
	}

	&__list-item {
		&:not(:last-child) {
			margin: 0 0 40px;
		}
	}

	&__table,
	&__table thead,
	&__table tbody,
	&__table tr,
	&__table td {
		margin: 0;
		padding: 0;
		border: none;
		border-collapse: collapse;
		border-color: transparent;
		text-align: center;
		vertical-align: middle;
		font-weight: $font-weight-regular;
	}

	&__table {
		width: 100%;

		thead {
			td {
				padding: 0 8px 16px;
				font-weight: $font-weight-bold;
				border-bottom: 1px solid $color-gray-medium;

				&:first-child {
					padding: 0 0 16px;
				}
			}
		}

		tbody {
			tr {
				td {
					padding: 16px 8px 0;
				}

				&:first-child {
					td {
						padding: 40px 8px 0;

						&:first-child {
							padding: 40px 0 0;
						}
					}
				}
			}
		}
	}
}
