$color-black-clear: #000000;
$color-black: #333333;

$color-gray: rgba($color-black, 0.5);
$color-gray-medium: #d8d8d8;
$color-gray-light: #f1f1f1;
$color-gray-lighter: #fbfbfc;

$color-white: #ffffff;
$color-white-light: rgba($color-white, 0.1);

$color-blue: #1F3FF2;
